<footer class="site-footer h-card">
  <div class="wrapper">
    <br><br><br>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <br>
        <div style="text-align: center"><img src="./assets/files/ProfilePicture.jpg" width="150" /></div>
        </ul>
      </div>
      <div class="footer-col">
        <br>
        <p>{{ site.description | escape }}</p>
        <p>Thank you for visiting my website. If you want to connect, you can contact me <a href="{{ post_url }}/contact" style="display: inline;">here.</a></p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>
  </div>

</footer>