---
layout: base
---

<div class="home-title" style="background-image: url('./assets/files/200w.gif') !important;">
  <body>
    <div style="text-align: center"><img src="./assets/files/HomePic.jpg" width="325" style="border-radius: 100px;"></div>
    <h1 class="post-title p-name"><div style="text-align:center; font-weight: bold"> ORION MCCREE</div></h1>
    <h2 class="post-title p-name"><div style="text-align: center;">Software Developer, Video Editor, and something idk</div></h2>
  </body>
</div>


<text-body style="margin-top: 2vh;">
  <p>
    I'm a video editor and have additional skills surrounding computer usage and business finance and management. My video and photo editing skills are in Adobe Creative Suite (Photoshop, Premier Pro, After Effects, etc.), DaVinci Resolve editing software, and Final Cut editing software. I have a degree in Business Administration and Management from Loyola Maryland, and have extensive knowledge in financial and structural business practices. Let's connect!
  </p>
  <p>Hello! My name is Aubry McConnell, and I was born in the vibrant city of Charleston, South Carolina. Ever since I was young, I have been captivated by the world of computers and technology, constantly exploring and discovering their endless possibilities.</p>

<p>During my high school years, I had the opportunity to take a few programming classes, and it was during this time that my love for coding truly blossomed. I became fascinated by the art of crafting software and the intricate logic behind it.</p>

<p>As my knowledge and experience grew, so did my interest in machine learning and artificial intelligence. The potential to create intelligent systems that could learn and adapt sparked a fire within me, driving me to pursue a career in this exciting field.</p>

<p>With this determination in mind, I embarked on my journey in college, majoring in computer science. The rigorous coursework and hands-on projects further solidified my skills and deepened my understanding of the ever-evolving world of technology.</p>

<p>Currently, I am living near Clemson University in South Carolina and working at Itron as an R&D firmware tester. This position has allowed me to gain valuable industry experience while honing my technical skills. However, as my passion for machine learning continues to grow, I am eager to transition into a career that aligns more closely with my interests.</p>

<p>I am now actively seeking opportunities that will enable me to build a fulfilling career in the realm of machine learning, and I am excited to embark on new endeavors where I can contribute my skills, passion, and dedication.</p>
  <p>
    Lorem ipsum odor amet, consectetuer adipiscing elit. Consectetur lobortis taciti malesuada ullamcorper nascetur dapibus libero dui vitae! Penatibus posuere convallis taciti class molestie mi eget. Eu inceptos hendrerit per tellus posuere id amet curabitur. Porttitor himenaeos velit mi dignissim ornare condimentum nostra. Accumsan ligula euismod nec montes non purus egestas. Egestas dictum amet nulla nibh elit cubilia curabitur.
  </p>
  <p>
    Adipiscing sagittis non tristique nunc ex maecenas libero. Lobortis taciti suscipit platea ad hendrerit. Nulla dui nunc duis efficitur himenaeos. Pellentesque tincidunt dignissim natoque porttitor pharetra vivamus potenti nec. Eget tortor hac mus amet nec. Lacus nec urna taciti ultricies taciti. Hac laoreet nunc odio in cubilia phasellus vivamus.
    </p>
  <br>
</text-body>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

</div>

<div style="position: relative; text-align: center; align-items: center; margin-top: 3vh; margin-bottom: 3vh;">
  <a href="./assets/files/O McCree Resume.pdf" download="McCreeOResume" ><button class="btn-70">Download my Resume</button></a>
</div>